.idea/ASD_IU_2025.iml
.idea/dictionaries/project.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
out/production/ASD_IU_2025/lab2/TreeTest.class
out/production/ASD_IU_2025/lab2/Tree1.class
out/production/ASD_IU_2025/lab2/Tree.class
out/production/ASD_IU_2025/lab2/README.md
out/production/ASD_IU_2025/lab2/Node.class
out/production/ASD_IU_2025/lab2/README.md
out/production/ASD_IU_2025/lab2/README.md
out/production/ASD_IU_2025/lab2/README.md
lab/lab2/TreeTest.java
